body  {
    background-image: url("elegant_marble_background_with_gold_glitter_2605.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}


#greeting {
    text-align: center;
}

.focus-playlist {
    display: flex;
}

.tasks {
    margin: 10px 0px 0px 0px;
    flex-direction: column;
    /* border: 1px solid; */
    list-style: none;
    font-weight: bold;
}


.tasks li {
    margin: 25px 0px 0px 0px;
    text-align: left;
}

.delete-button {
    float: right;
    margin: 0 0 0 20px;
    padding: 5px;
    background-color: transparent;
    color: red;
    border-radius: 5px;
    border-color: red;
    border: 1px solid red ;
    cursor: pointer;
    transition: 300ms;

}
.delete-button:hover {
    color: white;
    background-color: red;
    
    transition: 300ms;
}


.music-player {
    margin: 50px  0px 0px;
    padding: 20px;
    border: 3px solid;
    border-radius: 5px;
    
}

.music-player button {
    border: 1px solid red;
    background-color: black;
    color: white;
    padding: 5px 15px;
    text-align: center;
    height: 33px;
    width: 120px;
    margin: 0px auto 5px;
    font-size: 10px;
    cursor: pointer;
}
#icon {
    height: 20px;
    display: flex;
    padding: 10px 0 0 2px ;
    cursor: pointer;
}